.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contact-info {
  width: 350px;
  padding-left: 1em;
}

.bug-image {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  object-fit: cover; 
  margin: 10px; 
}